<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <ul>
      <li>receiptID (접수 아이디) : <%= @Response["receiptID"] %></li>
      <li>clientCode (이용기관코드) : <%= @Response["clientCode"] %></li>
      <li>clientName (이용기관명) : <%= @Response["clientName"] %></li>
      <li>state (상태코드) : <%= @Response["state"] %></li>
      <li>regDT (등록일시) : <%= @Response["regDT"] %></li>
      <li>expires_in (인증요청 만료시간(초)) : <%= @Response["expires_in"] %></li>
      <li>callCenterNum (고객센터 번호) : <%= @Response["callCenterNum"] %></li>
      <li>token (토큰 원문) : <%= @Response["token"] %></li>
      <li>allowSimpleRegistYN (은행계좌 실명확인 생략여부) : <%= @Response["allowSimpleRegistYN"] %></li>
      <li>verifyNameYN (수신자 실명확인 여부) : <%= @Response["verifyNameYN"] %></li>
      <li>payload (payload) : <%= @Response["payload"] %></li>
      <li>requestDT (카카오 인증서버 등록일시) : <%= @Response["requestDT"] %></li>
      <li>expireDT (인증요청 만료일시) : <%= @Response["expireDT"] %></li>
      <li>tmstitle (인증요청 메시지 제목) : <%= @Response["tmstitle"] %></li>
      <li>tmsmessage (인증요청 메시지 부가내용) : <%= @Response["tmsmessage"] %></li>
      <li>signedData (전자서명 데이터 전문) : <%= @Response["signedData"] %></li>
      <li>subClientName (별칭) : <%= @Response["subClientName"] %></li>
      <li>subClientCode (별칭코드) : <%= @Response["subClientCode"] %></li>
      <li>viewDT (수신자 카카오톡 인증메시지 확인일시) : <%= @Response["viewDT"] %></li>
      <li>completeDT (수신자 카카오톡 전자서명 완료일시) : <%= @Response["completeDT"] %></li>
      <li>verifyDT (전자서명 검증일시) : <%= @Response["verifyDT"] %></li>
      <li>tx_id (카카오톡 트랜잭션아이디[AppToApp 앱스킴호출용]) : <%= @Response["tx_id"] %></li>
      <li>appUseYN (AppToApp 인증여부) : <%= @Response["appUseYN"] %></li>
    </ul>
  </fieldset>
</div>
